node_modules/
.expo/
.eas/
dist/
web-build/

android/.gradle/
android/app/build/
android/build/
android/.kotlin/
android/app/.cxx/

*.log
*.lock
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.env
.env.*
